.nav-server-icon,
.top-server-icon {
  border-radius: 100%;
}
.top {
  padding-top: 4rem !important;
}
.feature-row {
  padding-top: 2rem !important;
}
.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
}
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.feature-title {
  font-size: 2rem;
}

@media screen and (min-width: 992px) {
  .navbar {
    padding: 0.5rem 7rem;
  }
  .nav-server-icon {
    width: 28px;
    height: 28px;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }
  .mobile-join-btn {
    display: none;
  }
}
